.pageHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
} 

.shop {
    border: 2.3px dotted black;
    flex-basis: 30%;
}

